.hero{
  background-image: url(https://i.pinimg.com/564x/66/3e/94/663e94ce4f208e68f08d096cfe293f49.jpg);
  background-size: cover;
  padding: 200px;
}

.logo {
  font-size: 24px;
  font-family: "Gloria Halleluyah", cursive;
  color: #ff6f00;
  font-weight: bold;
}

.navbar {
  position: absolute; 
  top: 0; 
  left: 0;
  width: 100%;
  background-color: whitesmoke; /* Changed to orange background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links {
  display: flex;
}

.nav-links a {
  margin-left: 20px; 
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease; 
}

.nav-links a:hover {
  color: #ff6f00; 
}

.description {
  flex: 1;
  margin-right: 20px;
  color: white; /* Changed to white text */
}

.btn {
  background-color: #ff6f00;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px; /* Added margin-top */
}

.btn:hover {
  background-color: #e65100;
}

.about-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px auto;
  max-width: 1200px;
}

.about-us-content {
  flex: 1;
  max-width: 60%;
}

.video-container {
  flex: 1;
  margin-left: 20px;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
}